<!DOCTYPE html>
<html>
<head>
	<title>Demo website - główna</title>
</head>
<body>
	To jest demo do testowania wysylania. Zeby uruchomic te strone, potrzebny jest modul flask w pythonie.
	Uruchom plik app.py i wejdz na adres http://127.0.0.1:5000. Kliknij "Submit Solution". Wynik sprawdzania
	znajdzie sie przez 10 sekund na stronie http://127.0.0.1:5000/status/auth gdzie auth to kod uuid wyslany
	w odpowiedzi na klikniecie przycisku.
	</br>
	<textarea id="inputCode" rows="10"></textarea>
	<button id="submissionButton">Submit solution</button>

	</br>
	<a href="/debugger.html">Demo debuggera</a>

	<script src="index.js"></script>
</body>
</html>
